---
http_interactions:
- request:
    method: get
    uri: https://app.ticketmaster.com/discovery/v2/venues?apikey=TEST&format=json&keyword=INVALIDSEARCHINPUT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"fault":{"faultstring":"Invalid ApiKey","detail":{"errorcode":"oauth.v2.InvalidApiKey"}}}'
  recorded_at: Wed, 27 Mar 2019 16:30:50 GMT
recorded_with: VCR 4.0.0
